<div class="blog-view-main">
    <div class="blog-view-main-sub">
        <div class="web-blog-artical">
            <div class="web-post-artical-blog">
                <div class="website-blog_conten-singlet">
                    <h1 class="b_content"><%=vendor.title%>

                    </h1>
                </div>
                <div class="blog_m">
                    <p class="text-blog-artical">
                       <%=vendor.description[0] %>
                    </p>
                    
                    <p></p>
                    <div class="blog-photo">
                        <div class="photo">
                            <img class="blogp" loading="lazy" src="<%=vendor.img[0]%>" alt="" width="600" height="750">
                        </div>
                    </div>
                    <p></p>
                    <p class="blog-p">
                        <%=vendor.description[1] %>
                    </p>
                    
                    <p></p>
                    <div class="blog-photo">
                        <div class="photo">
                            <img class="blogp" loading="lazy" src="<%=vendor.img[1]%>" alt="" width="600" height="750">
                        </div>
                    </div>
                    <p></p>
                    <p class="blog-p">
                        <%=vendor.description[2] %>&nbsp;
                    </p>
                    
                    <p></p>
                    <div class="blog-photo">
                        <div class="photo">
                            <img class="blogp" loading="lazy" src="<%=vendor.img[2]%>" alt="" width="600" height="750">
                        </div>
                    </div>
                    <p></p>
                    <p class="blog-p">
                        <%=vendor.description[3] %>
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>