<div class="filter-menu-main">
    <div class="filter-menu-sub-main">
        <div class="filter-menu-opt">
        <div class="filter-page-dropdown">
            <button class="filter-page-dropbtn">Price</button>
            <div class="filter-page-drop-content">
              <a href="/sortd?categories=<%=vendortype%>" >Low to High</a>
              <a href="/sort?categories=<%=vendortype%>">High to Low</a>
              
            </div>
        </div>
        <div class="filter-page-dropdown">
            <button class="filter-page-dropbtn">Filter</button>
            <div class="filter-page-drop-content">
              <a href="/sortreview?categories=<%=vendortype%>">Popular</a>
              <a href="/sortreview?categories=<%=vendortype%>">Rating</a>
            </div>
        </div>
        <div class="filter-page-dropdown">
            <button class="filter-page-dropbtn">Location</button>
            <div class="filter-page-drop-content">
              <a href="/sortloc?categories=<%=vendortype%>&location=Mumbai">Mumbai</a>
              <a href="/sortloc?categories=<%=vendortype%>&location=pune">Pune</a>
              <a href="/sortloc?categories=<%=vendortype%>&location=Thane">Thane</a>
            </div>
        </div>
        </div>
  
        
  
        
    </div>
    
  </div>